canvas.audioicon {
    height: 24px!important;
    width: 24px!important;
}
span.tab-audio {
    height: 16px!important;
    width: 16px!important;
    top: 14px!important;
}
span.tab-audio:hover {
    transform: scale(0.65)!important;
}
